In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('./datasets/train.csv')

In [3]:
df.head()

,Id,PID,MS SubClass,MS Zoning,Lot Frontage,Lot Area,Street,Alley,Lot Shape,Land Contour,...,Screen Porch,Pool Area,Pool QC,Fence,Misc Feature,Misc Val,Mo Sold,Yr Sold,Sale Type,SalePrice
0,109,533352170,60,RL,NaN,13517,Pave,NaN,IR1,Lvl,...,0,0,NaN,NaN,NaN,0,3,2010,WD,130500
1,544,531379050,60,RL,43.0,11492,Pave,NaN,IR1,Lvl,...,0,0,NaN,NaN,NaN,0,4,2009,WD,220000
2,153,535304180,20,RL,68.0,7922,Pave,NaN,Reg,Lvl,...,0,0,NaN,NaN,NaN,0,1,2010,WD,109000
3,318,916386060,60,RL,73.0,9802,Pave,NaN,Reg,Lvl,...,0,0,NaN,NaN,NaN,0,4,2010,WD,174000
4,255,906425045,50,RL,82.0,14235,Pave,NaN,IR1,Lvl,...,0,0,NaN,NaN,NaN,0,3,2010,WD,138500

In [4]:
df.isnull().sum()

Id                   0
PID                  0
MS SubClass          0
MS Zoning            0
Lot Frontage       330
Lot Area             0
Street               0
Alley             1911
Lot Shape            0
Land Contour         0
Utilities            0
Lot Config           0
Land Slope           0
Neighborhood         0
Condition 1          0
Condition 2          0
Bldg Type            0
House Style          0
Overall Qual         0
Overall Cond         0
Year Built           0
Year Remod/Add       0
Roof Style           0
Roof Matl            0
Exterior 1st         0
Exterior 2nd         0
Mas Vnr Type        22
Mas Vnr Area        22
Exter Qual           0
Exter Cond           0
                  ...
Half Bath            0
Bedroom AbvGr        0
Kitchen AbvGr        0
Kitchen Qual         0
TotRms AbvGrd        0
Functional           0
Fireplaces           0
Fireplace Qu      1000
Garage Type        113
Garage Yr Blt      114
Garage Finish      114
Garage Cars          1
Garage Area          1
Garage Qual        114
Garage Cond        114
Paved Drive          0
Wood Deck SF         0
Open Porch SF        0
Enclosed Porch       0
3Ssn Porch           0
Screen Porch         0
Pool Area            0
Pool QC           2042
Fence             1651
Misc Feature      1986
Misc Val             0
Mo Sold              0
Yr Sold              0
Sale Type            0
SalePrice            0
Length: 81, dtype: int64

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2051 entries, 0 to 2050
Data columns (total 81 columns):
Id                 2051 non-null int64
PID                2051 non-null int64
MS SubClass        2051 non-null int64
MS Zoning          2051 non-null object
Lot Frontage       1721 non-null float64
Lot Area           2051 non-null int64
Street             2051 non-null object
Alley              140 non-null object
Lot Shape          2051 non-null object
Land Contour       2051 non-null object
Utilities          2051 non-null object
Lot Config         2051 non-null object
Land Slope         2051 non-null object
Neighborhood       2051 non-null object
Condition 1        2051 non-null object
Condition 2        2051 non-null object
Bldg Type          2051 non-null object
House Style        2051 non-null object
Overall Qual       2051 non-null int64
Overall Cond       2051 non-null int64
Year Built         2051 non-null int64
Year Remod/Add     2051 non-null int64
Roof Style         2051 non-null object
Roof Matl          2051 non-null object
Exterior 1st       2051 non-null object
Exterior 2nd       2051 non-null object
Mas Vnr Type       2029 non-null object
Mas Vnr Area       2029 non-null float64
Exter Qual         2051 non-null object
Exter Cond         2051 non-null object
Foundation         2051 non-null object
Bsmt Qual          1996 non-null object
Bsmt Cond          1996 non-null object
Bsmt Exposure      1993 non-null object
BsmtFin Type 1     1996 non-null object
BsmtFin SF 1       2050 non-null float64
BsmtFin Type 2     1995 non-null object
BsmtFin SF 2       2050 non-null float64
Bsmt Unf SF        2050 non-null float64
Total Bsmt SF      2050 non-null float64
Heating            2051 non-null object
Heating QC         2051 non-null object
Central Air        2051 non-null object
Electrical         2051 non-null object
1st Flr SF         2051 non-null int64
2nd Flr SF         2051 non-null int64
Low Qual Fin SF    2051 non-null int64
Gr Liv Area        2051 non-null int64
Bsmt Full Bath     2049 non-null float64
Bsmt Half Bath     2049 non-null float64
Full Bath          2051 non-null int64
Half Bath          2051 non-null int64
Bedroom AbvGr      2051 non-null int64
Kitchen AbvGr      2051 non-null int64
Kitchen Qual       2051 non-null object
TotRms AbvGrd      2051 non-null int64
Functional         2051 non-null object
Fireplaces         2051 non-null int64
Fireplace Qu       1051 non-null object
Garage Type        1938 non-null object
Garage Yr Blt      1937 non-null float64
Garage Finish      1937 non-null object
Garage Cars        2050 non-null float64
Garage Area        2050 non-null float64
Garage Qual        1937 non-null object
Garage Cond        1937 non-null object
Paved Drive        2051 non-null object
Wood Deck SF       2051 non-null int64
Open Porch SF      2051 non-null int64
Enclosed Porch     2051 non-null int64
3Ssn Porch         2051 non-null int64
Screen Porch       2051 non-null int64
Pool Area          2051 non-null int64
Pool QC            9 non-null object
Fence              400 non-null object
Misc Feature       65 non-null object
Misc Val           2051 non-null int64
Mo Sold            2051 non-null int64
Yr Sold            2051 non-null int64
Sale Type          2051 non-null object
SalePrice          2051 non-null int64
dtypes: float64(11), int64(28), object(42)
memory usage: 1.3+ MB

In [7]:
features = ['Lot Area','Overall Qual']
X = df[features]
y = df['SalePrice']

In [10]:
X.head()

   Lot Area  Overall Qual
0     13517             6
1     11492             7
2      7922             5
3      9802             5
4     14235             6

## Let's Train Test Split!

In [17]:
from sklearn.model_selection import train_test_split, cross_val_score
from sklearn.linear_model import LinearRegression

In [18]:
X_train, X_test, y_train, y_test = train_test_split(X, y)

In [19]:
print(X_train.shape)
print(X_test.shape)

(1538, 2)
(513, 2)

In [23]:
lr = LinearRegression()

cross_val_score(lr, X_train, y_train).mean()

0.6784153744900655

## Fit the model to the test (because we dont have time to do everything else)

In [25]:
lr.fit(X_train, y_train)
lr.score(X_test, y_test)

0.6747730420258274

## Let's make predictions to submit to Kaggle!

In [26]:
df_to_pred = pd.read_csv('./datasets/test.csv')

In [27]:
df_to_pred.head()

,Id,PID,MS SubClass,MS Zoning,Lot Frontage,Lot Area,Street,Alley,Lot Shape,Land Contour,...,3Ssn Porch,Screen Porch,Pool Area,Pool QC,Fence,Misc Feature,Misc Val,Mo Sold,Yr Sold,Sale Type
0,2658,902301120,190,RM,69.0,9142,Pave,Grvl,Reg,Lvl,...,0,0,0,NaN,NaN,NaN,0,4,2006,WD
1,2718,905108090,90,RL,NaN,9662,Pave,NaN,IR1,Lvl,...,0,0,0,NaN,NaN,NaN,0,8,2006,WD
2,2414,528218130,60,RL,58.0,17104,Pave,NaN,IR1,Lvl,...,0,0,0,NaN,NaN,NaN,0,9,2006,New
3,1989,902207150,30,RM,60.0,8520,Pave,NaN,Reg,Lvl,...,0,0,0,NaN,NaN,NaN,0,7,2007,WD
4,625,535105100,20,RL,NaN,9500,Pave,NaN,IR1,Lvl,...,0,185,0,NaN,NaN,NaN,0,7,2009,WD

## Whatever I did to the training set, I must make to the test set

In [34]:
features

['Lot Area', 'Overall Qual']

In [35]:
X_holdout = df_to_pred[features]

In [36]:
X_holdout.head()

   Lot Area  Overall Qual
0      9142             6
1      9662             5
2     17104             7
3      8520             5
4      9500             6

In [40]:
X_holdout['Pred_Sale_Price'] = lr.predict(X_holdout)

/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.

In [41]:
X_holdout.head()

   Lot Area  Overall Qual  Pred_Sale_Price
0      9142             6    174479.174944
1      9662             5    132316.249123
2     17104             7    235814.352790
3      8520             5    129734.934361
4      9500             6    175288.378696

In [44]:
X_holdout.drop(['Lot Area', 'Overall Qual'], axis = 1, inplace = True)

/anaconda3/lib/python3.7/site-packages/pandas/core/frame.py:3697: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  errors=errors)

In [45]:
X_holdout.columns = ['SalePrice']

In [46]:
X_holdout.head()

       SalePrice
0  174479.174944
1  132316.249123
2  235814.352790
3  129734.934361
4  175288.378696

In [47]:
X_holdout['Id'] = df_to_pred['Id']

/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.

In [48]:
X_holdout.head()

       SalePrice    Id
0  174479.174944  2658
1  132316.249123  2718
2  235814.352790  2414
3  129734.934361  1989
4  175288.378696   625

In [53]:
X_holdout.set_index('Id', inplace = True)

KeyError: 'Id'

In [55]:
X_holdout.head()

          SalePrice
Id
2658  174479.174944
2718  132316.249123
2414  235814.352790
1989  129734.934361
625   175288.378696

In [56]:
X_holdout.to_csv('./my_first_submission.csv')